name: Release Desktop

on:
  push:
    tags:
      - "v*.*.*"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  tests:
    name: Run Tests
    uses: ./.github/workflows/client-ci.yml
    secrets: inherit
  linux:
    name: Release Desktop (Linux)
    needs: tests
    uses: ./.github/workflows/release-desktop-linux.yml
    secrets: inherit

  windows:
    name: Release Desktop (Windows)
    needs: tests
    uses: ./.github/workflows/release-desktop-windows.yml
    secrets: inherit

  macos:
    name: Release Desktop (macOS)
    needs: tests
    uses: ./.github/workflows/release-desktop-macos.yml
    secrets: inherit
  
  publish:
    name: Publish GitHub Release
    runs-on: ubuntu-latest
    needs: [linux, windows, macos]
    if: startsWith(github.ref, 'refs/tags/v')

    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v7
        with:
          path: release-assets

      - name: Publish release assets
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          generate_release_notes: true
          files: |
            release-assets/**/*.dmg
            release-assets/**/*.exe
            release-assets/**/*.AppImage
            release-assets/**/*.deb
            release-assets/**/latest*.yml
            release-assets/**/*.blockmap
            release-assets/**/*.zip
