name: Release Desktop

on:
  push:
    tags:
      - "v*.*.*"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  linux:
    name: Release Desktop (Linux)
    uses: ./.github/workflows/release-desktop-linux.yml
    secrets: inherit

  windows:
    name: Release Desktop (Windows)
    uses: ./.github/workflows/release-desktop-windows.yml
    secrets: inherit

  macos:
    name: Release Desktop (macOS)
    uses: ./.github/workflows/release-desktop-macos.yml
    secrets: inherit
